S3_REGION = "BUCKETREGION"
S3_BUCKET = "BUCKETNAME"
S3_ACCESS_KEY = "ACCESSKEY"
S3_SECRET_KEY = "DONOTGUESS"
CONFLUENT_ACCESS_KEY = "ACCESSKEY"
CONFLUENT_SECRET_KEY = "DONOTGUESS"
CONFLUENT_BROCKER = "BROCKER_URL:9092"
PORT = 3000